* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} 

body {
  font-family: 'Anton';
  font-size: 48px;
}

header {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.presentation {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.hero-info {
  position: fixed;
  width: 100vw;
  height: 100vh;
  /* padding: 40px; */
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
}

.testata-aziendale {
  text-align: center;
  margin-top: 2%;
  color: white;
  font-size: 250%;
}

.descriptions {
  font-size: 45px;
  color: white;
  text-align: center;
}

.video-storage {
  margin-left: 45%;
  width: 200px;
}

.video-play {
  margin-top: 50%;
  width: 50%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  margin-left: 34%;
  margin-top: 0%;
  width: 620px;
  height: 340px;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}
/* rgb(7, 71, 247) */
